.container {
  padding: 10px;
  height: 800px;
  display: grid;
  border: 4px solid var(--yellow);
  grid-gap: 20px;
  grid-template-columns: 1fr 100px 1fr;
  grid-template-rows: 100px 1fr 100px auto;
}

.random {
  height: 100px;
}
